* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    
    border-bottom: solid blue 1px;
}

.navbar-brand{
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
}

.nav-a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}


.container-fluid h5{
    color: rgb(153, 20, 20);
}

.navbar-text h5{
    text-transform: uppercase;
    color: black;
}


.main-text{
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.main-text h1{
    margin-bottom: 1rem;
}

.main-text p{
    margin-bottom: 1rem;
}

.grid-container{
    width: 100%;
    padding: 1rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(300px, auto);
    gap: 5px;
    justify-items: center;
}

@media (max-width: 1200px){

    .grid-container{
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 800px){

    .grid-container{
        grid-template-columns: 1fr;
    }

}

.grid-item{
    text-align: center;
    text-transform: uppercase;
    border: solid blue 1px;
    padding: 1rem;
}

.grid-item img{
    padding: 1rem;
}

.grid-item h2{
    font-size: 25px;
}

.grid-item h3{

    font-size: 20px;
}

.grid-item h3 a{
    text-decoration: none;
    color: green;
}
.coment-container {
    text-align: center;
}
footer{
    border-top: solid blue 1px;
    padding: 0.5rem;
    color: black;
    text-align: center;
}

footer h4{
    text-transform: uppercase;
}